# REQUIRED
# DB connection string
db_host=
db_user=
db_password=
db_name=
test_db_name=

# Auth
secret_key=
api_key=
system_user_password=

# emails
mailgun_rest_api_endpoint=
mailgun_api_key=
mailgun_domain_name=
default_email_sender=
invitation_url=
password_reset_url=
login_url=
support_email=

# Google Cloud
ml_api_key=
file_parse_function_url=
co_terminus_function_url=
telemetry_token_function_url=
chatbot_upload_file_function_url=
chatbot_mark_actual_function_url=
chatbot_delete_file_function_url=
chatbot_session_token_function_url=

# PowerBI
pbi_tenant_id=
pbi_client_id=
pbi_client_secret=
pbi_workspace_id=

# OPTIONAL (with their default values)
access_token_expire_minutes=1440
invitation_link_expire_days=1
reset_password_expires_minutes=30
system_user_first_name=System
system_user_last_name=User
system_user_email=system@user.com
system_user_phone=0123456789
enable_requests_logger=True
requests_logger_max_response=1000  # characters to print count
requests_logger_include_headers=False
enable_audit_logger=True
ai_parsing_config_path=configs/ai_parsing_config.json
## Files
due_diligence_gcs_bucket=dev-due-diligence-files
task_attachments_gcs_bucket=dev-task-tracker-attachments
device_documents_gcs_bucket=dev-device-documents
sv_uploads_gcs_bucket=dev-site-visit-uploads
allowed_extensions=pdf,docx,jpeg,jpg,png
ai_parsing_allowed_extensions=pdf,docx
sa_uploads_allowed_extensions=jpeg,jpg,png
allowed_filesize=104857600  # 100MB
file_download_link_expiration_minutes=120  # 2 hours
service_account_key_file_path=key.json
pbi_access_token_expiration_seconds=3500  # 58min
pbi_embed_token_expiration_seconds=600  # 10min
co_terminus_stuck_threshold=900  # 15min

# Rombus
rombus_api_key=

# Telemetry
## possible environments dev/qa/uat
environment_name=dev
